## 1. Import Libraries

In [2]:
import requests
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import time

## 2. API Binance

In [3]:
base_url = "https://api.binance.com/api/v3/klines"

In [4]:
#Parametres search

symbol = "BTCUSDT" #Bitcoin (BTC/USDT)
interval = "1h" #Time interval
limit = 100 #Data to take

In [6]:
#API apply

params = {
    "symbol" : symbol,
    "interval" : interval,
    "limit" : limit
}
response = requests.get(base_url, params= params)

#Convert data in json

data = response.json()

In [8]:
#Create the DataSet

df_cripto = pd.DataFrame(data, columns= ["timestamp", "open", "high", "low", "close", "volume",
    "close_time", "quote_asset_volume", "number_of_trades",
    "taker_buy_base", "taker_buy_quote", "ignore"
    ])

df_cripto.head()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base,taker_buy_quote,ignore
0,1738936800000,98828.01000000,100137.99000000,98688.00000000,99710.92000000,3730.76190000,1738940399999,371665409.67837010,495125,1954.62929000,194643173.28092430,0
1,1738940400000,99710.91000000,99710.91000000,97616.27000000,98283.98000000,5294.68336000,1738943999999,521807448.98093140,649196,2234.59460000,220223655.97381350,0
2,1738944000000,98283.98000000,98563.55000000,97638.29000000,97827.66000000,2962.02555000,1738947599999,290428829.01037630,407161,1473.20963000,144512703.21158500,0
3,1738947600000,97827.67000000,98166.67000000,97145.81000000,97434.78000000,1557.74255000,1738951199999,152009646.56030450,395846,704.83469000,68784758.49561260,0
4,1738951200000,97434.79000000,98353.10000000,97300.01000000,97751.99000000,932.05680000,1738954799999,91253450.04869820,214046,478.53644000,46848313.45877510,0

In [9]:
#Convert data to numeric and dates

df_cripto["timestamp"] = pd.to_datetime(df_cripto["timestamp"], unit = "ms")
df_cripto["open"] = df_cripto["open"].astype(float)
df_cripto["high"] = df_cripto["high"].astype(float)
df_cripto["low"] = df_cripto["low"].astype(float)
df_cripto["close"] = df_cripto["close"].astype(float)
df_cripto["volume"] = df_cripto ["volume"].astype(float)

print(df_cripto[["timestamp", "open", "high", "low", "close", "volume"]].head(10))

            timestamp      open       high       low     close      volume
0 2025-02-07 14:00:00  98828.01  100137.99  98688.00  99710.92  3730.76190
1 2025-02-07 15:00:00  99710.91   99710.91  97616.27  98283.98  5294.68336
2 2025-02-07 16:00:00  98283.98   98563.55  97638.29  97827.66  2962.02555
3 2025-02-07 17:00:00  97827.67   98166.67  97145.81  97434.78  1557.74255
4 2025-02-07 18:00:00  97434.79   98353.10  97300.01  97751.99   932.05680
5 2025-02-07 19:00:00  97752.00   97831.99  96856.78  96898.56  1307.40157
6 2025-02-07 20:00:00  96898.56   96944.10  95620.34  95764.31  2130.34759
7 2025-02-07 21:00:00  95764.30   96174.79  95693.75  96011.42  1332.88857
8 2025-02-07 22:00:00  96011.43   96100.86  95632.23  96062.76   682.10739
9 2025-02-07 23:00:00  96062.77   96518.16  95866.80  96506.80   641.57728

In [10]:
df_cripto.info()
df_cripto.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           100 non-null    datetime64[ns]
 1   open                100 non-null    float64
 2   high                100 non-null    float64
 3   low                 100 non-null    float64
 4   close               100 non-null    float64
 5   volume              100 non-null    float64
 6   close_time          100 non-null    int64
 7   quote_asset_volume  100 non-null    object
 8   number_of_trades    100 non-null    int64
 9   taker_buy_base      100 non-null    object
 10  taker_buy_quote     100 non-null    object
 11  ignore              100 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(2), object(4)
memory usage: 9.5+ KB

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base,taker_buy_quote,ignore
0,2025-02-07 14:00:00,98828.01,100137.99,98688.00,99710.92,3730.76190,1738940399999,371665409.67837010,495125,1954.62929000,194643173.28092430,0
1,2025-02-07 15:00:00,99710.91,99710.91,97616.27,98283.98,5294.68336,1738943999999,521807448.98093140,649196,2234.59460000,220223655.97381350,0
2,2025-02-07 16:00:00,98283.98,98563.55,97638.29,97827.66,2962.02555,1738947599999,290428829.01037630,407161,1473.20963000,144512703.21158500,0
3,2025-02-07 17:00:00,97827.67,98166.67,97145.81,97434.78,1557.74255,1738951199999,152009646.56030450,395846,704.83469000,68784758.49561260,0
4,2025-02-07 18:00:00,97434.79,98353.10,97300.01,97751.99,932.05680,1738954799999,91253450.04869820,214046,478.53644000,46848313.45877510,0
5,2025-02-07 19:00:00,97752.00,97831.99,96856.78,96898.56,1307.40157,1738958399999,127271655.57473140,184866,654.43379000,63723184.00654410,0
6,2025-02-07 20:00:00,96898.56,96944.10,95620.34,95764.31,2130.34759,1738961999999,204938551.19671590,321794,801.99739000,77143295.30626090,0
7,2025-02-07 21:00:00,95764.30,96174.79,95693.75,96011.42,1332.88857,1738965599999,127821796.74968420,179029,712.35765000,68312272.95241050,0
8,2025-02-07 22:00:00,96011.43,96100.86,95632.23,96062.76,682.10739,1738969199999,65331591.49460490,143279,270.17729000,25883103.08831040,0
9,2025-02-07 23:00:00,96062.77,96518.16,95866.80,96506.80,641.57728,1738972799999,61723550.40952420,111613,312.26081000,30036280.63373460,0